Ex1/.idea/
Ex1/additional_file.py
Ex1/venv/
Ex2/.idea/
Ex2/venv/
Ex2/__pycache__/
Ex2/ex2_old.zip
Ex2/ex2_tests.py
Ex3/.idea/
Ex3/__pycache__/
Ex3/ex3_tests.py
Ex3/venv/
Ex3/ex3.py
Ex4/.idea/
Ex4/__pycache__/
Ex4/venv/
Ex4/words.txt
Ex5/.idea/
Ex5/files/
Ex5/venv/
Ex5/matrix_large.txt
Ex5/words.txt
Ex7/.idea/
Ex7/READ ME EX7.docx
Ex7/__pycache__/
Ex7/ex7_tests.py
Ex7/hanoi_game.py
Ex7/venv/
Ex8/.idea/
Ex8/venv/