Ex1/.idea/
Ex1/additional_file.py
Ex1/venv/
Ex2/.idea/
Ex2/venv/
Ex2/__pycache__/
Ex2/ex2_old.zip
Ex2/ex2_tests.py
Ex3/.idea/
Ex3/__pycache__/
Ex3/ex3_tests.py
Ex3/venv/
Ex3/ex3.py
Ex4/.idea/
Ex4/__pycache__/
Ex4/hangman_helper.py
Ex4/venv/
Ex4/words.txt
Ex5/.idea/
Ex5/files/
Ex5/venv/