Ex1/.idea/
Ex1/additional_file.py
Ex1/hello_turtle.py
Ex1/math_print.py
Ex1/venv/
Ex2/.idea/
Ex2/calculate_mathematical_expression.py
Ex2/largest_and_smallest.py
Ex2/quadratic_equation.py
Ex2/shapes.py
Ex2/temperature.py
Ex2/venv/
Ex2/__pycache__/
Ex2/ex2_old.zip
Ex2/ex2_tests.py
Ex3/.idea/
Ex3/__pycache__/
Ex3/ex3_tests.py
Ex3/venv/
Ex3/ex3.py